<h1>{{ editarUsuario ? 'Editar Usuario' : 'Cadastrar Usuario' }}</h1>
<br>
<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
      </div>

      <div class="col">
        <div [hidden]="editarUsuario">
          <mat-form-field> 
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        <br>
        <mat-checkbox formControlName="enabled">Ativo</mat-checkbox>
      </div>
    </div>
  </mat-card>

  <div class="actions">
    <button mat-raised-button color="warn" [routerLink]="['/usuarios']">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!usuarioForm.valid&&!editarUsuario">{{ editarUsuario ? 'Editar' : 'Criar' }}</button>
  </div>
</form>