.title .acoes {
  float: right;
}

mat-card {
  margin-bottom: 20px;
}

.actions button {
  margin-right: 20px;
}

.info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex-direction: column;
  width: 200px;
  margin-right: 20px;
}