.title button{
  font-size: 25px;
}

mat-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-form-field {
  min-width: 400px;
}

.input-user-story {
  min-width: 300px;
  margin-left: 10px;
}

.col {
  flex: 1;
}

.actions {
  margin-top: 20px;
}

.actions button {
  margin-right: 20px;
}
