<div class="title">
  <button mat-icon-button aria-label="Voltar" [routerLink]="['/backlog']">
    <mat-icon>arrow_back</mat-icon> Criar Requisito
  </button>
</div>
<br>
<mat-card>

  <div class="col">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select>
        <mat-option value="option">User Story</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <h3>Observações</h3>
    <mat-form-field>
      <mat-label>Observação</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="col">
    <h2>User Story</h2>

    Como
    <mat-form-field class="input-user-story">
      <mat-label>Ator</mat-label>
      <mat-select>
        <mat-option value="option">User Story</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-user-story">
      <mat-label>Ação</mat-label>
      <mat-select>
        <mat-option value="option">User Story</mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-label>Descrição da ação</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    Para que seja possível
    <br>
    <mat-form-field>
      <mat-label>Descrição da funcionalidade</mat-label>
      <input matInput>
    </mat-form-field>

  </div>

</mat-card>

<div class="actions">
  <button mat-raised-button color="warn" [routerLink]="['/backlog']">Cancelar</button>
  <button mat-raised-button color="primary" (click)="cadastrar()">Criar</button>
</div>