<div class="title">
  <button mat-icon-button aria-label="Voltar" [routerLink]="['/backlog']">
    <mat-icon>arrow_back</mat-icon> Sprints
  </button>
</div>
<br>
<button mat-raised-button color="primary" [routerLink]="['/criarSprint']">Nova Sprint</button>

<mat-card (click)="openSpringDetails()">
  <div class="item">
    Sprint 01
  </div>
  <div class="item">
    Estado: Concluido
  </div>
  <div class="item">
    Data criação: 01/05/2020
  </div>
  <div class="item">
    Data entrega: 15/05/2020
  </div>
  <div class="item">
    <button mat-icon-button [routerLink]="['/sprint-info']">
      <mat-icon>
        info
      </mat-icon>
    </button>
    &nbsp;
    <button mat-icon-button [routerLink]="['/sprint-configure']">
      <mat-icon>
        settings
      </mat-icon>
    </button>
  </div>
</mat-card>

<mat-card (click)="openSpringDetails()">
  <div class="item">
    Sprint 01
  </div>
  <div class="item">
    Estado: Concluido
  </div>
  <div class="item">
    Data criação: 01/05/2020
  </div>
  <div class="item">
    Data entrega: 15/05/2020
  </div>
  <div class="item">
    <button mat-icon-button [routerLink]="['/sprint-info']">
      <mat-icon>
        info
      </mat-icon>
    </button>
    &nbsp;
    <button mat-icon-button [routerLink]="['/sprint-configure']">
      <mat-icon>
        settings
      </mat-icon>
    </button>
  </div>
</mat-card>

<mat-card (click)="openSpringDetails()">
  <div class="item">
    Sprint 01
  </div>
  <div class="item">
    Estado: Concluido
  </div>
  <div class="item">
    Data criação: 01/05/2020
  </div>
  <div class="item">
    Data entrega: 15/05/2020
  </div>
  <div class="item">
    <button mat-icon-button [routerLink]="['/sprint-info']">
      <mat-icon>
        info
      </mat-icon>
    </button>
    &nbsp;
    <button mat-icon-button [routerLink]="['/sprint-configure']">
      <mat-icon>
        settings
      </mat-icon>
    </button>
  </div>
</mat-card>

<mat-card (click)="openSpringDetails()">
  <div class="item">
    Sprint 01
  </div>
  <div class="item">
    Estado: Concluido
  </div>
  <div class="item">
    Data criação: 01/05/2020
  </div>
  <div class="item">
    Data entrega: 15/05/2020
  </div>
  <div class="item">
    <button mat-icon-button [routerLink]="['/sprint-info']">
      <mat-icon>
        info
      </mat-icon>
    </button>
    &nbsp;
    <button mat-icon-button [routerLink]="['/sprint-configure']">
      <mat-icon>
        settings
      </mat-icon>
    </button>
  </div>
</mat-card>