.navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

h1 {
  margin-left: 8px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  width: 250px;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

#push-bottom {
  position: absolute;
  bottom: 0;
}

.progress-bar-container {
  height: 5px;
}