.login {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

.login form {
  flex-basis: 50%
}

@media (max-width: 600px) {
  .login form {
    flex-basis: 80%
  }
}