.search {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.search-item {
  margin: 0 20px;
}

mat-card {
  margin: 20px 0;
}

.create {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex-direction: column;
  width: 200px;
  margin-right: 20px;
}

.action {
  width: 10vw;
}